.container-detalhes{
  display: flex;
  min-height: 85vh;
  min-width:750px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.container-comentario{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.div-comentario{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #c4c4c4;
  height: 165px;
  justify-content: space-between;
}

.form-comentario{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
}

.card-comentario{
  display: flex;
  flex-direction: column;
  border: solid 1px #c4c4c4;
  font-size: 11px;
  border-radius: 3px;
}

::ng-deep .cdk-overlay-pane{
  max-height: 95vh;
}
